In [1]:
#problem statement divided into sub statements
#summary of importance of problem statement:why,on what(data),how(Python)
#PCA(Principle Component Ananlysis) is a type of feature enginnering 

import pandas as pd
import pickle

df=pd.read_csv("rottenTomatoesUserReviews.csv",encoding="cp437")

In [2]:
df['ID']=df['ID'].astype({'ID':'object'})
df['Text']=df['Text'].str.replace('stpid','stupid')                         #data cleaning and transformation
df['Sentiment'] = 0
df.head()

,Rating,Text,Movie,ID,Sentiment
0,2.5,My problem wasn't so much with what happened...,The Last Jedi,1,0
1,2.0,Jumping around in stupid plot lines that whe...,The Last Jedi,2,0
2,0.5,This is one horrible piece of fan fiction. D...,The Last Jedi,3,0
3,2.0,I think Disney is totally wrecking the Star ...,The Last Jedi,4,0
4,0.5,The Last Jedi is the cinematic equivalent of...,The Last Jedi,5,0

In [3]:
movieNames=[]                  #lists for new csv file that we will create soon
avgRating=[]
posPercent=[]
negPercent=[]
neuPercent=[]

In [6]:
# Using The Trained SVM
def sentimentAnalysis(text):
    file=open("SVM_Movie_Review","rb")
    file_1=open("TFIDF_Movie_Review","rb")
    vect=pickle.load(file_1)
    clf=pickle.load(file)
    i=0
    for review in text['Text']:
        review_vector = vect.transform([review])
        df.set_value(i, "Sentiment", clf.predict(review_vector)[0])
        i+=1
    file.close()
    file_1.close()

In [4]:
def movieWiseRating(movielist):
    for movie in movielist['Movie'].unique():
        movieNames.append(str(movie))     #Average rating movie wise
        avgRating.append(float(df[df.Movie==movie].Rating.mean()))

In [5]:
def finalAnalysis(df):
    for movie in df['Movie'].unique():
        pos=df[(df.Movie==movie) & (df.Sentiment==1)].Sentiment.count()
        neu=df[(df.Movie==movie) & (df.Sentiment==0)].Sentiment.count()
        neg=df[(df.Movie==movie) & (df.Sentiment==-1)].Sentiment.count()
        sumOfAll=(pos+neg+neu)
        pos/=sumOfAll
        neg/=sumOfAll
        neu/=sumOfAll
        pos*=100
        neu*=100
        neg*=100
        posPercent.append(float(pos))
        negPercent.append(float(neu))
        neuPercent.append(float(neg))

In [7]:
sentimentAnalysis(df)
finalAnalysis(df)
movieWiseRating(df)

C:\Users\Ananya\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

In [10]:
C = {   'Movie': movieNames,
        'Average_Rating': avgRating,
        'Positive_Review': posPercent,
        'Negative_Review': negPercent,
    }
print(len(movieNames))
df1 = pd.DataFrame.from_dict(C)

16

In [11]:
df1.to_csv("data.csv",index=False)

In [12]:
df1 = pd.read_csv("data.csv")

In [13]:
df1.tail()

                  Movie  Average_Rating  Positive_Review  Negative_Review
11         Peter Rabbit        3.379496        67.266187        32.733813
12      Sherlock Gnomes        3.406667        56.000000        44.000000
13  The Death of Stalin        3.429319        63.874346        36.125654
14   The Shape of Water        3.080448        62.423625        37.576375
15          Tomb Raider        3.658359        71.651090        28.348910

In [9]:
df.tail()

,Rating,Text,Movie,ID,Sentiment
10343,4.5,I really want to see Lara in action. Cause I...,Tomb Raider,10344,1
10344,5.0,Watched this splendid piece of cinematograph...,Tomb Raider,10345,1
10345,5.0,Went into the movie optimistic it would mesh...,Tomb Raider,10346,1
10346,3.5,Based on the most recent run of Tomb Raider ...,Tomb Raider,10347,1
10347,5.0,After searching so many years for a good vid...,Tomb Raider,10348,1

In [8]:
df.head()

,Rating,Text,Movie,ID,Sentiment
0,2.5,My problem wasn't so much with what happened...,The Last Jedi,1,0
1,2.0,Jumping around in stupid plot lines that whe...,The Last Jedi,2,0
2,0.5,This is one horrible piece of fan fiction. D...,The Last Jedi,3,0
3,2.0,I think Disney is totally wrecking the Star ...,The Last Jedi,4,0
4,0.5,The Last Jedi is the cinematic equivalent of...,The Last Jedi,5,1